<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights</title>
</head>
<body>
    <h1>Flights</h1>
    <ul>
        <% flights.forEach(function(flight) {%>
            <li>
                Airline: <%= flight.airline %>
                -
                Flight Number: <%= flight.flightNo %>
                -
                Deparature Time: <%= flight.departs%>
            </li>
        <% }); %>
    </ul>
</body>
</html>