<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mongoose Flights</title>
</head>
<body>
    <h2>Enter a New Flight</h2>
    <form action="/flights" method="POST">
        <label>Airline:
            <input type="text" name="airline">
        </label>
        <label>Flight Number:
            <input type="text" name="flightNo">
        </label>
        <label>Departs:
            <input type="datetime-local" name="departs">
        </label>
        <input type="submit" value="Add Flight">
    </form>
</body>
</html>